.button {
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease;
  /* Плавный переход для цвета и трансформации */
}

.button::after {
  content: '';
  /* Создаем псевдоэлемент */
  position: absolute;
  /* Позиционируем относительно родителя */
  left: 0;
  /* Прижимаем к левому краю */
  bottom: 0;
  /* Прижимаем к нижнему краю */
  width: 100%;
  /* Ширина равна ширине ссылки */
  height: 1px;
  /* Толщина нижней границы */
  background-color: #212529;
  /* Цвет нижней границы */
  transform: scaleX(1);
  /* Начальное состояние (полная ширина) */
  transition: transform 0.5s ease;
  /* Плавный переход для анимации */
  transform-origin: right;
  /* Устанавливаем точку начала трансформации с левой стороны */
}

.button:hover::after {
  transform: scaleX(0);
  /* Сужаем до нуля при наведение */
}

.button:hover {
  color: #CBC6B2;
}